<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<div class="login-page">
  <div class="form">
    <h2><%= msg %></h2>
    <h2>Please Login</h2>
    <form action="/process_login" method="post" class="login-form">

      <input type="text" placeholder="username" name="username" />
      <input type="password" placeholder="password" name="password"/>

      <button>login</button>
      

    </form>
  </div>
</div>