<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="login-page">
  <div class="form">
    <h2> Hello! <%= username %>  </h2>
    <p>You are logged in!</p>
    <p><a href="/logout">Log out</a></p>
  </div>
</div>